body {
    background-color: burlywood;
}

#phone {
    background-color: aqua;
}

label {
    color: yellow;
}

table, td, th {
    border: thin solid orange;
    border-collapse: collapse;
    padding: 5px;
    background-color: aqua;
    text-align: center;
    margin: 10px 0;
}

#validationSummary {
    color: rebeccapurple;
}
